<a class="flex items-center mr-32" href="#">
    <img src="assets/logo.svg" alt="STRIDE & SERVE Logo" class="w-16 shrink-0" />
    <span class="text-surface-900 dark:text-surface-0 font-medium text-2xl leading-normal whitespace-nowrap">Core
        Padel</span>
</a>

<a pButton [text]="true" severity="secondary" [rounded]="true" pRipple class="lg:!hidden" pStyleClass="@next"
    enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars !text-2xl"></i>
</a>

<div
    class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'learn' })" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Learn</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'equipment' })" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Equipment</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'destinations' })" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Destinations</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'community' })" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Community</span>
            </a>
        </li>
    </ul>

    <div class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
        <button pButton pRipple label="Login" (click)="directLogin()" [rounded]="true" [text]="true"
            style="font-size: 1.25rem; font-weight: bold;">
        </button>
        <button pButton pRipple label="Join Community" (click)="directSignup()" [rounded]="false" severity="primary"
            style="font-size: 1.25rem; font-weight: bold;">
        </button>
    </div>
</div>